
.orderDetailsPage {
  background-color: white;
  padding: 2vw;
}
.userOrdersHeading {
  /* margin: 2vmax auto; */
  font-size: 2rem;
  font-weight: 900;
  letter-spacing: -1px;
  word-spacing: 7px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  width: 100%;
  padding: 2vmax;
  /* text-align: center; */
}
.orderDetailsContainer > h1 {
  font-size: 2vmax;
  font-weight: 300;
  margin: 4vmax 0;
  color: black;
}

.orderDetailsContainer {
  padding: 5vmax;
  padding-bottom: 0%;
}

.orderDetailsContainer > p {
  font-size: 1.8vmax;
  font-weight: 400;
}

.orderDetailsContainerBox,
.orderDetailsCartItemsContainer {
  margin: 2vmax;
}

.orderDetailsContainerBox > div {
  display: flex;
  margin: 1vmax 0;
}

.orderDetailsContainerBox > div > p {
  font-size: 1vmax;
  font-weight: 400;
  color: black;
}
.orderDetailsContainerBox > div > span {
  margin: 0 1vmax;
  font-size: 1vmax;
  font-weight: 400;
  color: black;
}

.orderDetailsCartItems > p {
  font-size: 1.8vmax;
  font-weight: 400;
}

.orderDetailsCartItems {
  padding: 2vmax 5vmax;
  border-top: 1px solid rgba(0, 0, 0, 0.164);
}

.orderDetailsCartItemsContainer > div {
  display: flex;
  font-size: 1vmax;
  font-weight: 400;

  align-items: center;
  margin: 2vmax 0;
}

.orderDetailsCartItemsContainer > div > img {
  width: 3vmax;
}

.orderDetailsCartItemsContainer > div > a {
  color: black;
  margin: 0 2vmax;
  width: 50%;
 
  text-decoration: none;
}

.orderDetailsCartItemsContainer > div > span {
  font-size: 1vmax;
  font-weight: 400;
  color: black;
  width: 100%;
  /* margin:  0 0rem; */
}

@media screen and (max-width: 600px) {
  .orderDetailsContainer > p {
    font-size: 6vw;
    font-weight: 400;
  }

  .orderDetailsContainerBox > div {
    margin: 6vw 0;
  }

  .orderDetailsContainerBox > div > p {
    font-size: 4vw;
    font-weight: 400;
  }
  .orderDetailsContainerBox > div > span {
    font-size: 4vw;
    font-weight: 400;
  }

  .orderDetailsCartItems > p {
    font-size: 6vw;
    font-weight: 400;
  }

  .orderDetailsCartItemsContainer > div {
    font-size: 4vw;
    font-weight: 400;

    margin: 4vw 0;
  }

  .orderDetailsCartItemsContainer > div > img {
    width: 10vw;
  }

  .orderDetailsCartItemsContainer > div > a {
    margin: 2vw;
    width: 30%;
  }

  .orderDetailsCartItemsContainer > div > span {
    font-size: 4vw;
    font-weight: 400;
  }
}
